@model GestionIntervention.Models.Produit

@{
    ViewData["Title"] = "Supprimer le produit";
}

<h1>@ViewData["Title"]</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce produit?</h3>
<div>
    <h4>Produit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Référence
        </dt>
        <dd class="col-sm-10">
            @Model.ReferencePd
        </dd>
        <dt class="col-sm-2">
            Désignation
        </dt>
        <dd class="col-sm-10">
            @Model.Designation
        </dd>
        <dt class="col-sm-2">
            Prix
        </dt>
        <dd class="col-sm-10">
            @Model.Prix.ToString("C")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ReferencePd" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </form>
</div>